<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Dashboard</title>
    <link rel="stylesheet" href="assets/pages.css">
</head>
<body>
    <div class="sidenav">
        <a href="/home">Dashboard</a>
        <button class="dropdown-btn">Branch 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/addnew_branch">Add new</a>
            <a href="/list_branches">List</a>
        </div>
        <button class="dropdown-btn">Branch Staff 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/addnew_branchstaff">Add new</a>
            <a href="/list_branchstaff">List</a>
        </div>
        <button class="dropdown-btn">Parcels 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/addnew_parcel">Add new</a>
            <a href="/list_parcels">List all</a>
        </div>
    </div>

    <!-- Display count_table values -->
<table>
    <tr>
        <th>BRANCHES</th>
    </tr>
    <tr>
        <td><%= counts.branch %></td>
    </tr>
</table>
<table>
    <tr>
        <th>STAFF</th>
    </tr>
    <tr>
        <td><%= counts.staff %></td>
    </tr>
</table>
<table>
    <tr>
        <th>TOTAL PARCELS</th>
    </tr>
    <tr>
        <td><%= counts.parcels %></td>
    </tr>
</table>

<div class="recent-activities">
    <h2>Recent Activities</h2>
    <ul>
        <% recentActivities.forEach(activity => { %>
            <li><%= activity.activity_type %>: <%= activity.details %></li>
        <% }); %>
    </ul>
</div>


<footer>
    <p>&copy; 2023 CMS. All rights reserved.</p>
    <p>Find us on <a href="https://github.com/gitnavya0/Courier_management_platform" target="_blank">GitHub</a></p>
</footer>

</body>
<script>

    var dropdown = document.getElementsByClassName("dropdown-btn");
    for (var i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }    
</script>
</html>

