<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>List of all parcels </title>
    <link rel="stylesheet" href="assets/pages.css">
    <link rel="stylesheet" href="assets/table.css">
    <link rel="stylesheet" href="assets/pop_up.css">
</head>
<body>
    <h1> List of all Parcels </h1>
    <div class="sidenav">
        <a href="/home">Dashboard</a>
        <button class="dropdown-btn">Branch 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/addnew_branch">Add new</a>
            <a href="/list_branches">List</a>
        </div>
        <button class="dropdown-btn">Branch Staff 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/addnew_branchstaff">Add new</a>
            <a href="/list_branchstaff">List</a>
        </div>
        <button class="dropdown-btn">Parcels 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/addnew_parcel">Add new</a>
            <a href="/list_parcels">List all</a>
        </div>
    </div>

    <table>
        <tr>
            <th>Parcel ID</th>
            <th>Type</th>
            <th>Cost</th>
            <th>Sender Name</th>
            <th>Receiver Name</th>
            <th>Date Accepted</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <% parcelData.forEach(function(parcel) { %>
            <tr>
                <td><%= parcel.parcel_id %></td>
                <td><%= parcel.type %></td>
                <td><%= parcel.cost %></td>
                <td><%= parcel.sender_name %></td>
                <td><%= parcel.receiver_name %></td>
                <td><%= parcel.date_accepted %></td>
                <td><%= parcel.status %></td>
                <td>
                    <button type="button" onclick="updateStatus('<%= parcel.parcel_id %>')" class="update"> Update Status </button>
                    <button type="button" onclick="deleteParcel('<%= parcel.parcel_id %>')" class="delete"> Delete </button>
                    <button type="button" onclick="viewDetails('<%= parcel.parcel_id %>')" class="details"> View Details </button>
                </td>
            </tr>
        <% }); %>
    </table>
    <!--pop up window to display parcel details-->
    <div class="popup-container" id="detailsPopup">
        <div class="popup-content">
            <h2>Parcel Details</h2>
            <!-- shown dynamically using javascript -->
        </div>
    </div>
    
</body>
<script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
    for (var i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }    
    function viewDetails(parcelId) {
        const popup = document.getElementById("detailsPopup");
        if (popup) {
            fetch(`/getParcelDetails/${parcelId}`)
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        const popupContent = document.querySelector(".popup-content");
                        popupContent.innerHTML = `
                            <h2>Parcel Details</h2>
                            <p>Parcel ID: ${data.parcel_id}</p>
                            <p>Cost: ₹${data.cost}</p>
                            <p>Type: ${data.type}</p>
                            <p>Weight: ${data.weight} Kgs</p>
                            <p>Length: ${data.length} inches</p>
                            <p>Width: ${data.width} inches</p>
                            <p>Height: ${data.height} inches</p>

                            <button type="button" onclick="closePopup()" class="close-button">Close</button>`;
                        popup.style.display = "block";

                    }
                })
                .catch(error => console.error(error));
        }
    }

    function closePopup() {
        const popup = document.getElementById("detailsPopup");
        if (popup) {
            popup.style.display = "none";
        }
    }
    function updateStatus(parcelId) {
    fetch(`/updateParcelStatus/${parcelId}`, {
        method: 'POST',
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        if (data.success) {
            alert('Status of parcel has been updated');
            location.reload();  
        } else {
            alert('parcel already delivered');
        }
    })
    .catch(error => {
        console.error(error);
        alert('An error occurred while updating parcel status');
    });
}

</script>
</html>