<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>List of all Branch Staff</title>
    <link rel="stylesheet" href="assets/pages.css">
    <link rel="stylesheet" href="assets/table.css">
</head>
<body>
    <h1> List of all Branch Staff </h1>
    <div class="sidenav">
        <a href="/home">Dashboard</a>
        <button class="dropdown-btn">Branch 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/addnew_branch">Add new</a>
            <a href="/list_branches">List</a>
        </div>
        <button class="dropdown-btn">Branch Staff 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/addnew_branchstaff">Add new</a>
            <a href="/list_branchstaff">List</a>
        </div>
        <button class="dropdown-btn">Parcels 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/addnew_parcel">Add new</a>
            <a href="/list_parcels">List all</a>
        </div>
        <a href="#">Report</a>
    </div>

    <table>
        <tr>
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Employee Phone Number</th>
          <th>Employee Branch ID</th>
          <th>Employee Branch Address</th>
        </tr>
        <% staffData.forEach(function(staff) { %>
          <tr>
            <td><%= staff.emp_id %></td>
            <td><%= staff.emp_name %></td>
            <td><%= staff.emp_phone %></td>
            <td><%= staff.emp_branch_id %></td>
            <td><%= staff.branch_addr %></td>
          </tr>
        <% }); %>
      </table>   

</body>
<script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
    for (var i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }    
</script>
</html>